html,body{
	min-height:100vh;
	width:100%;
}

body {
  padding-top: 3.5rem;
  list-style-type:none;
  
}
#nav{
	width:100%;
}

.navbar{
	background-color:black;
}
.main-container{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	min-height:100vh;
	width:100%;
}

.container{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	margin:0 auto;
}

aside{
	background-color:#dbedff;
	width:20em;
}

.form-group{
	width:80%;
	margin:0 auto;
}

.starter-template {
	width:100%;
}

.wrapper{
	display:flex;
	flex-direction: column;
	justify-content:center;
	
	width:100%;
}

.upper-wrapper{
	display:flex;
	flex-direction:row;
	align-items:center;
	
	padding: 3em 0;
	margin:0 auto;
}

.input{
	width:30em;
	
}

.result{
	width:100vh;
	margin:0 auto;
}

.col-md-5,.col-md-4,.col-md-3{
	margin:0 auto;
	padding:1em;
}

.circlechart{
	width:50em;
}



