html,body{
	min-height:100vh;
	width:100%;
}

body {
  padding-top: 3.5rem;
  list-style-type:none;
}

.main-container{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	min-height:100vh;
	width:100%;
}

.container{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	margin:0 auto;
}

aside{
	background:rgb(157, 209, 249);
	width:10em;
}

.starter-template {
	width:100em;
}

.wrapper{
	display:flex;
	flex-direction: column;
	justify-content:center;
	
	width:90em;
}

.upper-wrapper{
	display:flex;
	flex-direction:row;
	align-items:center;
	
	padding: 5em 0;
	margin:0 auto;
}

.input{
	width:30em;
	
}

.result{
	width:100vh;
	margin:0 auto;
}

.col-md-5,.col-md-4,.col-md-3{
	margin:0 auto;
	padding:1em;
}

.circlechart{
	width:50em;
}



